<div class="card">
    <div class="col-12">
        <p-messages [value]="msgs"></p-messages>
        <h3>Dostawcy</h3>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="formgroup-inline">
                <div class="field p-fluid">
                    <label for="category" class="p-sr-only">Category</label>
                    <input pInputText id="category" type="text" placeholder="Dodaj dostawcę"
                           formControlName="category"/>
                    <small *ngIf="myForm.get('category').invalid && myForm.get('category').touched" id="username-help"
                           class="p-error" style="width: 5px; display: none;">Enter your username to reset your
                        password.</small>
                </div>
                <button pButton label="Dodaj" type="submit"></button>
            </div>
        </form>
    </div>
    <div class="col-12">
        <div class="card">
            <p-confirmDialog></p-confirmDialog>
            <p-table scrollDirection="both" [scrollable]="true" scrollHeight="450px"
                     styleClass="mt-3 p-datatable-striped" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 4rem">
                            <div class="flex justify-content-between align-items-center">
                                Id
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Dostawca
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-between align-items-center">
                                Operacje
                            </div>
                        </th>

                    </tr>
                    <tr *ngFor="let provider of providers">
                        <th style="font-weight: normal;">
                            {{provider.id}}
                        </th>
                        <th style="font-weight: normal;">
                            {{provider.nameOfProvider}}
                        </th>
                        <th style="font-weight: normal;">
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                        (click)="changingCategoryData(provider)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                        (click)="confirmDeleteCategory(provider.id)"></button>
                            </div>

                        </th>

                    </tr>
                </ng-template>


            </p-table>
        </div>
    </div>
</div>

<p-dialog [(visible)]="categoryDialog" [style]="{width: '450px'}" header="Zmień nazwe produktu {{this.providerToRemoveName}}" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="col-12">
            <form [formGroup]="editForm" (ngSubmit)="changeNameOfProvider()">
                <div class="formgroup-inline">
                    <div class="field">
                        <label for="category" class="p-sr-only">Category</label>
                        <input pInputText id=categoryedit type="text" placeholder="Zmień nazwe kategorii"
                               formControlName="category"/>
                        <small *ngIf="myForm.get('category').invalid && myForm.get('category').touched" id="categoryToChangeName"
                               class="p-error" style="width: 5px; display: none;">Enter your username to reset your
                            password.</small>

                    </div>
                    <button pButton label="Zmień" type="submit" style="width: 120px;"></button>
                </div>
            </form>
        </div>
    </ng-template>
</p-dialog>
